.modal {
    display: none;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    &.active {
        display: block;
    }
    .content {
        position: absolute;
        animation: fadeIn ease 0.4s;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 60%;
        background-color: #fff;
        height: calc(100vh - 150px);
        overflow: hidden auto;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0px 0px 11px 0px rgba(53, 48, 48, 0.75);
        -webkit-box-shadow: 0px 0px 11px 0px rgba(53, 48, 48, 0.75);
        -moz-box-shadow: 0px 0px 11px 0px rgba(53, 48, 48, 0.75);
        .close-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 10px;
            top: 10px;
            height: 40px;
            width: 40px;
            background-color: rgba(22, 24, 35, 0.08);
            color: #4c4c4c;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
        }
    }
    .over-lay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(244, 244, 244, 0.8);
        z-index: 1;
    }
}
.body {
    width: 100%;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        scale: 0;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}
