.wrap {
    .title {
        font-size: 2.4rem;
        font-weight: 900;
        line-height: 1.4;
        color: #242424;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .desc {
        color: #292929;
        word-wrap: break-word;
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 40px;
    }
}
