.wrap {
    width: 100%;
    word-break: break-all;
    color: #fff;
    margin-top: 20px;
    .info {
        display: flex;
        align-content: center;
        gap: 10px;
        margin-bottom: 10px;
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
        .info-name {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .reply-btn {
        color: blue;
        display: block;
        margin-left: auto;
        margin-top: 10px;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 500;
    }
}
