@use '../../components/GlobalStyles/abstracts/' as abs;
.banner {
    width: 100%;
    margin-top: calc(-1 * var(--header-height));
    padding-top: 28%;
    position: relative;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: top center / cover no-repeat;
    background-image: url('../../assets/Image/imgs/profileBanner.png');
    position: relative;
}
.user-banner {
    position: absolute;
    bottom: -70px;
    left: 40px;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    @include abs.screen(md) {
        left: 50%;
        bottom: -100px;
        transform: translateX(-50%);
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .avatar {
        border-radius: 50%;
        overflow: hidden;
        width: 172px;
        height: 172px;
        object-fit: cover;
        @include abs.screen(md) {
            width: 120px;
            height: 120px;
        }
        @include abs.screen(sm) {
            width: 100px;
            height: 100px;
        }
    }
    .name {
        font-size: 2.8rem;
        font-weight: 700;
        margin-left: 16px;
        margin-bottom: 16px;
        text-align: center;
    }
}

.content {
    margin-top: 90px;
    padding: 0 24px;
}

.wrapper {
    background-color: #fff;
    box-shadow: #0000001a 0 0 5px, #0000001a 0 0 1px;
    border-radius: 8px;
    padding: 18px 14px;
    margin-bottom: 20px;
    word-break: break-word;
}
// info user
.info-title {
    margin: 0 0 20px;
    font-size: 1.6rem;
    font-weight: 600;
}
.info-list {
    padding: 0;
    .info-item {
        display: flex;
        align-content: center;
        gap: 14px;
        margin: 10px 0px;
    }
}
