.wrap {
    padding: 10px 0px;
    word-break: break-word; /* Breaks long words */
    overflow-wrap: break-word; /* Ensures words will wrap onto the next line */
    white-space: normal; /* Allows text to wrap normally */
}
.title {
    margin: 10px 0px;
    font-size: 4rem;
    font-weight: 500;
}
