.footer {
    background-color: #181821;
    padding: 50px;
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: #fff;
        .main-desc {
            margin-top: 40px;
            color: #ccc;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
    .list-wrap {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
        .title {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .item {
            color: #a9b3bb;
            font-size: 1.4rem;
            font-weight: 400;
            text-decoration: none;
            list-style-type: none;
            padding: 10px 0px;
            cursor: pointer;
        }
    }
}
