.wrap {
    display: none;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    transition: ease 0.4s;
    animation: 200ms ease-out 0s 1 normal forwards running fadeIn;
    &.show {
        display: flex;
    }
    &:hover {
        background-color: #33343c;
    }
    .decor {
        display: block;
        padding-right: 10px;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        .title {
            font-size: 1.2rem;
            font-weight: 400;
        }
        .sub-title {
            color: rgb(128, 139, 154);
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
    .check {
        margin-left: auto;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
