.course-wrap {
    cursor: pointer;
    .course {
        padding: 10px;
        transition: ease 0.4s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        &:hover {
            background-color: #33343c;
        }
    }
    .course-header {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .title {
            font-size: 1.8rem;
            font-weight: 500;
        }
        .quantity {
            font-size: 1.4rem;
            font-weight: 500;
            color: #9d9fa9;
        }
    }
    .course-icon {
        font-size: 1.6rem;
        color: #9d9fa9;
        transition: ease 0.3s;
        &.active {
            transform: rotate(180deg);
        }
    }
}
.lesson-body {
    display: none;
    animation: 200ms ease-out 0s 1 normal forwards running fadeIn;
}
.lesson-body.show {
    display: block;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
