.wrap {
    height: 100vh;
    .body {
        margin-top: 50px;
        min-height: calc(100vh - 50px);
        display: flex;
        padding: 20px;
    }
    .content {
        width: 77%;
        margin-bottom: 50px;
    }
    .content.full {
        width: 100%;
    }
}
